h1{
    font-size: 30px;
    text-align: center;
    color: #ce241e
    }
    
    h2{
    font-size: 20px;
    text-align: center;
    font-style: bold;
    color: #ffffff
    }   

    p{
    font-size: 14px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    color: #ffffff
    }
    
    body {
    background-color: #025314;
    }